body {
  text-align: center;
  color: white;
}

.colored-section {
  background-image: url("milkyway.jpg");
  text-align: center;
}

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.sub-heading {
  color: white;
  font-size: 2rem;
  line-height: 1.5;
}

.welcome-container {
  padding-top: 4rem;
}

/* Planet Section */
.planet-section {
  padding: 4% 0 0 0;
  background-color: #384156;
  color: white;
}
.planet-image {
  width: 400px;
  height: 500px;
}
.container-fluid {
  padding: 2rem 5rem 10rem;
}

.planet-info {
text-align: left;
}

/* Random Image Section */
.random-photo {
background-color: #D9D9D9;
padding: 4% 15%;
color: black;
}

.generate {
margin: 4%;
}

/* Footer */
.footer {
  padding: 4% 15%;
  background-color: #384156;
  color: white;
}

.media-links {
  padding: 20px;
}

